bin
a.out
test/derived
src/qd/autom4te.cache
src/qd/src/.deps
src/qd/src/.libs
src/qd/config.log
src/qd/config.status
src/qd/Makefile
src/qd/config/Makefile
src/qd/include/Makefile
src/qd/src/Makefile
src/qd/fortran/Makefile
src/qd/tests/Makefile
*.Po
src/qd/src/bits.o
src/qd/src/c_dd.o
src/qd/src/c_qd.o
src/qd/src/dd_const.o
src/qd/src/dd_real.o
src/qd/src/fpu.o
src/qd/src/qd_const.o
src/qd/src/qd_real.o
src/qd/src/util.o