bin
a.out
test/derived
src/qd/autom4te.cache
src/qd/src/.deps
src/qd/src/.libs
src/qd/config.log
src/qd/config.status
src/qd/Makefile
src/qd/config/Makefile
src/qd/include/Makefile
src/qd/src/Makefile
src/qd/docs/Makefile
src/qd/fortran/Makefile
src/qd/tests/Makefile
*.Po